* {
  margin:0px;
  padding:0px;
}

body{background-color: #EDDFEC;}

#octocat {
  display: block;
  width:384px;
  margin: 50px auto;
}

p {
  display: block;
  width: 400px;
  margin: 50px auto;
  font: 30px Monaco,"Courier New","DejaVu Sans Mono","Bitstream Vera Sans Mono",monospace;
}

#container{
	margin: auto;
	width:500px;
	border:2px dashed red;
	border-radius: 25px;
}

.pink{color:pink;font-weight: bold;}